{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'basic_app/style.css' %}">
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'basic_app:relative_url_templates' %}">Relative</a>
    <a href="{% url 'basic_app:add_post' %}">Add Post</a>
    <a href="{% url 'basic_app:other' %}">Other</a>
    <a href="{% url 'basic_app:list_post' %}">List Post</a>
    <a href="{% url 'basic_app:register' %}">Register</a>
    <!-- if user is logged in  -->
    {% if user.is_authenticated %}
        <a href="{% url 'basic_app:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'basic_app:login' %}">Login</a>
    {% endif %}
    <a href="{% url 'basic_app:edit_form' %}">Edit User</a>
    <a href="{% url 'basic_app:pass_form' %}">Edit Password</a>
    {% block content %}
    {% endblock %}
</body>
</html>